faiss-cpu
ibm-watsonx-ai
langchain-core
langchain-ibm
langchain-ollama
langchain-openai
langchain-postgres
langchain-text-splitters>=0.3,<0.4
langchain-community
ollama
python-dotenv
pdfplumber>=0.11.4
python-magic>=0.4.27
streamlit>=1.40.0
